[submodule "Twipoker/Vendor/Objectwitter-C"]
	path = Twipoker/Vendor/Objectwitter-C
	url = https://github.com/Twipoker-Project/Objectwitter-C
[submodule "Twipoker/Vendor/KVOController"]
	path = Twipoker/Vendor/KVOController
	url = https://github.com/Twipoker-Project/KVOController
[submodule "Twipoker/Vendor/INAppStoreWindow"]
	path = Twipoker/Vendor/INAppStoreWindow
	url = https://github.com/Twipoker-Project/INAppStoreWindow
[submodule "Twipoker/Vendor/TGForkedMASPreferences"]
	path = Twipoker/Vendor/TGForkedMASPreferences
	url = https://github.com/Twipoker-Project/TGForkedMASPreferences
